.accordion {
}

.accordion-item:nth-child(odd) {
  background: lightskyblue;
  opacity: 0.9;
  border: none;
}

.accordion-item:nth-child(even) {
  background: yellowgreen !important;
  opacity: 0.9;
  border: none;
}
